
h1{
    text-align: center;
    border: 0px solid black;
    background-color: #98DDf0;
    font-size: 65px;
    margin: 0;
    padding-top:20px;
    padding-bottom: 20px;
}

.titlelogo{
    border-radius: 25%;
    border: 0px solid #3e3e3e;   
    float: left;
    margin: 0 0 0 15px
}

div{
    align-items: center;
}

nav{
    background-color: #d5f1f6;
    
}

nav ul{
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
    margin: 0px;

}

nav li{
    display: inline;
    
}

nav a{
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: #3e3e3e
}

p{
    text-align: center;
}

.homepic{
    border: 0px solid;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 25px  
}

.mammalpic{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    border: px solid black;
    justify-content: space-around
}



div.gallery {
  margin: 5px;
  border: 0px solid ;
  float: left;
  width: 250px;
    
    padding-left: 150px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 25px;        
}

div.gallery img {
  width: 100%;
  height: auto;
}



div.gallery2 {
  margin: 5px;
  border: 0px solid #ccc;
  float: right;
  width: 250px;
    
    padding-left: 50px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 25px;  
}

div.gallery2 img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
font-size: 25px;
    color: #0b5162
    
}

#pics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around
}

footer{
    text-align: center;
    background-color: #98DDf0;
    font-size:30px;
    padding-top: 20px;
    padding-bottom: 20px;

}

table{
    text-align: left;
    font-size: 20px;
    margin: auto;
}

caption{
 font-size: 25px
}

td{
    text-align: center;
}

.footerlogo{
    width: 65px;
    padding-right: 30px
}

.footertitle{
    text-decoration: underline;
    font-weight: bold;
    font-size: 30px
    
}

.footer2{
    text-align: center;
    background-color: #d5f1f6;
    font-size:20px;
    padding-top: 1px;
    padding-bottom: 20px;
}
